<div class="top">
  <h1><em><img src="/hop1.gif" width="50" height="50" alt="Hop"/>  Search For a Beer  <img src="/hop1.gif"         width="50" height="50" alt="Hop"/></h1>
</div>

<br>
<br>

<form action="/search_name_results">
  <p><h4>Please enter the <u>name</u> of the beer to search for:</em></h4></p>
  
  <p><input type="text" name="beer"></p>
    
  <br>
    
  <p><input type="submit"></p>
</form>

<br>

<div class="enter">
  <p><a href="/home" title="To homepage">Click here to return to the main homepage</a></p>
</div>
    