<div class="top">
  <h1><em><img src="/hop1.gif" width="50" height="50" alt="Hop"/>  Add a New Brewery to the Database  <img              src="/hop1.gif" width="50" height="50" alt="Hop"/></h1>
</div>

<br>
<br>

<form action="/add_brewery_results">
  <p><h4>Please enter the name of the brewery:</h4></p>

    <p><input type="text" name="brewery"></p>
  
  <br>
  
  <p><h5>Click the submit button to add the new brewery.</h5></em></p>

  <p><input type="submit"></p>
</form>

<br>

<div class="enter">
  <p><a href="/home" title="To homepage">Click here to return to the main homepage</a></p>
</div>

    