<p><h1>American Amber Ale</h1></p>
<br>
<br>
<div>
  <h3>Color</h3>
  <em>Amber to Dark Amber</em>
</div>

<br>

<div>
  <h3>Perceived Bitterness</h3>
  <em>Pronounced: 25 - 40 IBUs</em>
</div>

<br>

<div>
  <h3>Alcohol</h3>
  <em>Normal Alcohol Content: 4.5 - 6.2% ABV</em>
</div>

<br>

<div>
  <h3>Flavor and Balance</h3>
  <em>Amber ales have the evident citrus-pine hoppiness of American Pale Ale with a richer malt base that
      includes dark caramel and deeply toasted flavors. Thus both malt and hops are medium to high in flavor
      impact.</em>
</div>

<br>

<div>
  <h3>Related Styles</h3>
  <em>American Pale Ale</em>
</div>