<p><h1>American Barleywine</h1></p>
<br>
<br>
<div>
  <h3>Color</h3>
  <em>Amber to Brown</em>
</div>

<br>

<div>
  <h3>Perceived Bitterness</h3>
  <em>Pronounced to Assertive: 50 - 120 IBUs</em>
</div>

<br>

<div>
  <h3>Alcohol</h3>
  <em>High Alcohol Content: 8 - 12% ABV</em>
</div>

<br>

<div>
  <h3>Flavor and Balance</h3>
  <em>American Barleywines typically show high levels of American hop aroma, flavor and bitterness as well         as rich caramel and toffee malt falvors in a robust, high-alcohol ale.</em>
</div>

<br>

<div>
  <h3>Related Styles</h3>
  <em>Imperial IPA</em>
</div>