<p><h1>Beaver View Brewing Company</h1></p>

<div class="picture">
  <img src="/beaver.jpeg" width="200" height="200" alt="Beaver View"/>
</div>
<br>
<br>

<div>
  <h3>Description</h3>
  <em>Established in 2010 and proudly serves at The J Sports Bar and Grill in the city of Albion. </em>
</div>

<br>

<div>
  <h3>Location</h3>
  <em>Albion, NE</em>
  <p><em>Map it: </em></p>
</div>