<p><h1>Belgian Blond Ale</h1></p>
<br>
<br>
<div>
  <h3>Color</h3>
  <em>Gold</em>
</div>

<br>

<div>
  <h3>Perceived Bitterness</h3>
  <em>Low: 15 - 30 IBUs</em>
</div>

<br>

<div>
  <h3>Alcohol</h3>
  <em>Elevated Alcohol Content: 6 - 7.5% ABV</em>
</div>

<br>

<div>
  <h3>Flavor and Balance</h3>
  <em>Gold in color and malt-balanced. Malt plus fruity esters gives an impression of sweetness.</em>
</div>

<br>

<div>
  <h3>Related Styles</h3>
  <em>Belgian Tripel</em>
  <p><em>Belgian Golden Strong Ale</em></p>  
</div>