<p><h1>Belgian Pale Ale</h1></p>
<br>
<br>
<div>
  <h3>Color</h3>
  <em>Light Amber to Amber</em>
</div>

<br>

<div>
  <h3>Perceived Bitterness</h3>
  <em>Moderate: 20 - 30 IBUs</em>
</div>

<br>

<div>
  <h3>Alcohol</h3>
  <em>Normal Alcohol Content: 4.8 - 5.5% ABV</em>
</div>

<br>

<div>
  <h3>Flavor and Balance</h3>
  <em>The pale ale is light amber to amber in color and has a medium bitterness. This Belgian variant shows        fruity and spicy fermentation flavors not seen in the British ales.</em>
</div>

<br>

<div>
  <h3>Related Styles</h3>
  <em>Saison</em>  
</div>