<p><h1>Blue Blood Brewing Company</h1></p>

<div class="picture">
  <img src="/blue.jpeg" width="200" height="200" alt="Blue Blood"/>
</div>
<br>
<br>

<div>
  <h3>Description</h3>
  <em>Established in 2011, with the namesake refering to the owners' law enforcement backgrounds. Proudly          uses only the finest ingredients from around the country, including fantastic hops grown right here in       Nebraska by Rhynalds Hop Growers in Prague.</em>
</div>

<br>

<div>
  <h3>Location</h3>
  <em>Lincoln, NE</em>
  <p><em>Map it: </em></p>
</div>