<p><h1>Brickway Brewery and Distillery</h1></p>

<div class="picture">
  <img src="/brickway.jpeg" width="200" height="200" alt="Brickway"/>
</div>
<br>
<br>

<div>
  <h3>Description</h3>
  <em>Formerly known as Borgata Brewery and Distillery. Omaha's first full production brewery since Metz,          Storz, Krug and Falstaff and first distillery since Willow Springs.</em>
</div>

<br>

<div>
  <h3>Location</h3>
  <em>Omaha, NE</em>
  <p><em>Map it: </em></p>
</div>