<p><h1>American Brown Ale</h1></p>
<br>
<br>
<div>
  <h3>Color</h3>
  <em>Light to Dark Brown</em>
</div>

<br>

<div>
  <h3>Perceived Bitterness</h3>
  <em>Moderate: 20 - 40 IBUs</em>
</div>

<br>

<div>
  <h3>Alcohol</h3>
  <em>Normal Alcohol Content: 4.3 - 6.2% ABV</em>
</div>

<br>

<div>
  <h3>Flavor and Balance</h3>
  <em>A malt-dominated style with rich toasty, caramel and chocolate flavors and low to medium levels of           American hops and medium bitterness.</em>
</div>

<br>

<div>
  <h3>Related Styles</h3>
  <em>Northern English Brown Ale</em>
  <p><em>Porter</em></p>
</div>