<p><h1>Belgian Dark Strong Ale</h1></p>
<br>
<br>
<div>
  <h3>Color</h3>
  <em>Amber to Dark Brown</em>
</div>

<br>

<div>
  <h3>Perceived Bitterness</h3>
  <em>Low: 20 - 35 IBUs</em>
</div>

<br>

<div>
  <h3>Alcohol</h3>
  <em>High to Very High Alcohol Content: 8 - 11% ABV</em>
</div>

<br>

<div>
  <h3>Flavor and Balance</h3>
  <em>A bit of a catchall category for strong, dark Belgian beers, this is where so-called "quadruple" beers       are classified.</em>
</div>

<br>

<div>
  <h3>Related Styles</h3>
  <em>Belgian Dubbel</em>  
</div>