<p><h1>Belgian Dubbel</h1></p>
<br>
<br>
<div>
  <h3>Color</h3>
  <em>Amber to Brown</em>
</div>

<br>

<div>
  <h3>Perceived Bitterness</h3>
  <em>Low: 15 - 25 IBUs</em>
</div>

<br>

<div>
  <h3>Alcohol</h3>
  <em>Elevated Alcohol Content: 6 - 7.6% ABV</em>
</div>

<br>

<div>
  <h3>Flavor and Balance</h3>
  <em>Some examples are malt-balanced on the sweet side, while others remain malt-balanced but lack                sweetness. Many examples display fruity and/or spicy yeast character.</em>
</div>

<br>

<div>
  <h3>Related Styles</h3>
  <em>Belgian Dark Strong Ale</em>  
</div>