<div class="enter">
  <h1>Are You 21 Years of Age or Older?</h1>
    <form action="/home">    
      <p><button name="button">YES</button></p>
    </form>
    
    <form action=/"not_allowed">
      <p><button name="button">NO</button></p>
    </form>
</div>