<p><h1>Farnam House Brewing Company</h1></p>

<div class="picture">
  <img src="/farnam.jpeg" width="200" height="200" alt="Farnam"/>
</div>
<br>
<br>

<div>
  <h3>Description</h3>
  <em>Established in 2014, Farnam House Brewing Company specializes in well-traveled styles from the               premiere beer-producing regions of Europe, including Belgium, France and Germany.</em>
</div>

<br>

<div>
  <h3>Location</h3>
  <em>Omaha, NE</em>
  <p><em>Map it: </em></p>
</div>