<p><h1>Gottberg Brew Pub</h1></p>

<div class="picture">
  <img src="/gottberg.gif" width="200" height="200" alt="Gottberg"/>
</div>
<br>
<br>

<div>
  <h3>Description</h3>
  <em>Located in Dusters Restaurant in the city of Columbus. They focus on brewing quality not quantity,           small batches of hand-crafted beers.</em>
</div>

<br>

<div>
  <h3>Location</h3>
  <em>Columbus, NE</em>
  <p><em>Map it: </em></p>
</div>