<p><h1>Granite City Food and Brewery</h1></p>

<div class="picture">
  <img src="/granite.jpeg" width="150" height="150" alt="Granite City"/>
</div>
<br>
<br>

<div>
  <h3>Description</h3>
  <em>Established in 1999 and has locations across 14 states. All beers are brewed on-site. Despite having a       wide range of locations, their trademarked brewing process called Fermentus Interruptus allows them to       replicate the same great tastes throughout all their restaurants.</em>
</div>

<br>

<div>
  <h3>Location</h3>
  <em>Lincoln, NE</em>
  <p><em>Map it: </em></p>
  <p><em>Omaha, NE </em></p>
  <p><em>Map it: </em></p>
</div>