<p><h1>American India Pale Ale (IPA)</h1></p>
<br>
<br>
<div>
  <h3>Color</h3>
  <em>Gold to Dark Amber</em>
</div>

<br>

<div>
  <h3>Perceived Bitterness</h3>
  <em>Assertive: 40 - 70 IBUs</em>
</div>

<br>

<div>
  <h3>Alcohol</h3>
  <em>Elevated Alcohol Content: 5.5 - 7.5% ABV</em>
</div>

<br>

<div>
  <h3>Flavor and Balance</h3>
  <em>This style is defined by the assertive presence of American hops in aroma, flavor and bitterness.            Resinous, citrus hop traits dominate aroma and flavor.</em>
</div>

<br>

<div>
  <h3>Related Styles</h3>
  <em>American Pale Ale</em>
  <p><em>Imperial IPA</em></p>
  <p><em>English IPA</em></p>
</div>