<p><h1>Jaipur Restaurant and Brewpub</h1></p>

<div class="picture">
  <img src="/jaipur.jpeg" width="250" height="200" alt="Jaipur"/>
</div>
<br>
<br>

<div>
  <h3>Description</h3>
  <em>Established in 2012, the brewery is a two barrel (64 gallon) brewery located within the restaurant.          All of the brewing process takes place in-house. Their beers are created to compliment the                   cuisine.</em>
</div>

<br>

<div>
  <h3>Location</h3>
  <em>Omaha, NE</em>
  <p><em>Map it: </em></p>
</div>