<p><h1>Kinkaider Brewing Company</h1></p>

<div class="picture">
  <img src="/kinkaider.jpeg" width="200" height="200" alt="Kinkaider"/>
</div>
<br>
<br>

<div>
  <h3>Description</h3>
  <em>Established in 2014. Dedicated to brewing fantastic, small-batch, hand-crafted beer from the local           sandhills water and using ingredients right off the owner's farm.</em>
</div>

<br>

<div>
  <h3>Location</h3>
  <em>Broken Bow, NE</em>
  <p><em>Map it: </em></p>
</div>