<p><h1>Loop Brewing Company</h1></p>

<div class="picture">
  <img src="/loop.jpeg" width="200" height="200" alt="Loop"/>
</div>
<br>
<br>

<div>
  <h3>Description</h3>
  <em>Established in 2011. The brewery is situated along the railroad tracks that shaped McCook nearly 130         years ago and pays homage to its roots through an age-old tradition of quality, handcrafted brewing. </em>
</div>

<br>

<div>
  <h3>Location</h3>
  <em>McCook, NE</em>
  <p><em>Map it: </em></p>
</div>