<p><h1>Modern Monks</h1></p>

<div class="picture">
  <img src="/monks.jpeg" width="200" height="150" alt="monks"/>
</div>
<br>
<br>

<div>
  <h3>Description</h3>
  <em>Established in 2007 and is the exclusive brewer for Misty's Restaurants in Lincoln. Modern Monks share       a deep, completely unearthly passion for characterful beer.</em>
</div>

<br>

<div>
  <h3>Location</h3>
  <em>Lincoln, NE</em>
  <p><em>Map it: </em></p>
</div>