<p><h1>Nebraska Brewing Company</h1></p>

<div class="picture">
  <img src="/nbc.jpeg" width="250" height="150" alt="NBC"/>
</div>
<br>
<br>

<div>
  <h3>Description</h3>
  <em>Nebraska Brewing Company was formed in 2007 and has established itself as a midwest                          innovator of quality craft beers and artisanal barrel-aged products. Building on a reputation for            quality, flavor, and creativity Nebraska Brewing Company strives to be a stand-out in an ever growing        field.</em>
</div>

<br>

<div>
  <h3>Location</h3>
  <em>Papillion, NE</em>
  <p><em>Map it: </em></p>
</div>