<p><h1>American Pale Ale</h1></p>
<br>
<br>
<div>
  <h3>Color</h3>
  <em>Gold to Amber</em>
</div>

<br>

<div>
  <h3>Perceived Bitterness</h3>
  <em>Pronounced: 30 - 45 IBUs</em>
</div>

<br>

<div>
  <h3>Alcohol</h3>
  <em>Normal Alcohol Content: 4.5 - 6.2% ABV</em>
</div>

<br>

<div>
  <h3>Flavor and Balance</h3>
  <em>Citrus and spice flavors of American hop varieties are evident - and usually dominant - in aroma and         flavor. Low to medium malt base with some caramel and toast notes.</em>
</div>

<br>

<div>
  <h3>Related Styles</h3>
  <em>American Amber Ale</em>
  <p><em>IPA</em></p>
</div>