<p><h1>Bohemian Pilsner</h1></p>
<br>
<br>
<div>
  <h3>Color</h3>
  <em>Gold</em>
</div>

<br>

<div>
  <h3>Perceived Bitterness</h3>
  <em>Pronounced: 35 - 45 IBUs</em>
</div>

<br>

<div>
  <h3>Alcohol</h3>
  <em>Normal Alcohol Content: 4.2 - 5.4% ABV</em>
</div>

<br>

<div>
  <h3>Flavor and Balance</h3>
  <em>Golden lager from Czech Republic city of Pilsen. Generally darker and more malty than German Pilsner,        but with similar levels of aroma, flavor and bitter hops.</em>
</div>

<br>

<div>
  <h3>Related Styles</h3>
  <em>German Pilsner</em>
</div>