<p><h1>Ploughshare Brewing Company</h1></p>

<div class="picture">
  <img src="/ploughshare.jpeg" width="200" height="200" alt="Ploughshare"/>
</div>
<br>
<br>

<div>
  <h3>Description</h3>
  <em>Established in 2014 and offers a rotation of craft beer on 12 taps. The brewery uses traditional             brewing methods and styles, and sources only the highest quality ingredients for its beer.</em>
</div>

<br>

<div>
  <h3>Location</h3>
  <em>Lincoln, NE</em>
  <p><em>Map it: </em></p>
</div>