<p><h1>Schilling Bridge Winery and Microbrewery</h1></p>

<div class="picture">
  <img src="/schilling.jpeg" width="250" height="150" alt="Schilling Bridge"/>
</div>
<br>
<br>

<div>
  <h3>Description</h3>
  <em>Brewing since 2005, Schilling Bridge refers to itself as the nation’s first farm winery/microbrewery.        Schilling Bridge uses the highest quality domestic and imported malted barley and other cereal               grains, along with Pawnee County’s own pure water and some of the world’s finest hops. The result is         an exceptional flavor profile that makes up the macro tastes of their signature micro brews.</em>
</div>

<br>

<div>
  <h3>Location</h3>
  <em>Pawnee City, NE</em>
  <p><em>Map it: </em></p>
</div>