<p><h1>Scratchtown Brewing Company</h1></p>

<div class="picture">
  <img src="/scratchtown.jpeg" width="200" height="200" alt="Scratchtown"/>
</div>
<br>
<br>

<div>
  <h3>Description</h3>
  <em>Scratchtown Brewing Company is one of Nebraska's newest breweries. Nestled in the scenic North Loup          River Valley, Scratchtown brews and serves a variety of handcrafted beer that prides itself on               simplicity and Nebraska Sandhills water. The name "Scratchtown" was given to the town by US General          EOC Ord, the town's namesake, after biting flies and mosquitoes swarmed his land survey team in the          summer of 1873.</em>
</div>

<br>

<div>
  <h3>Location</h3>
  <em>Ord, NE</em>
  <p><em>Map it: </em></p>
</div>