<p><h1>Spilker Ales</h1></p>

<div class="picture">
  <img src="/spilker.jpeg" width="300" height="200" alt="Spilker"/>
</div>
<br>
<br>

<div>
  <h3>Description</h3>
  <em>Established in 1994 and only brews one beer, Hopluia - "The Gospel of Hops". This beer utilizes a            technique called dry hopping, which leads to an incredible aroma and an intense, hoppy flavor.</em>
</div>

<br>

<div>
  <h3>Location</h3>
  <em>Cortland, NE</em>
  <p><em>Map it: </em></p>
</div>