<p><h1>Storz Trophy Room Grill and Brewery</h1></p>

<div class="picture">
  <img src="/storz.jpeg" width="200" height="200" alt="Storz"/>
</div>
<br>
<br>

<div>
  <h3>Description</h3>
  <em>Re-established in 2013,the new Storz Brewing Company focuses on honoring the rich heritage of it's           original founders. Combining the history of Storz with the flavors of today, their new craft beers are       a sophisticated taste of modern microbrew. </em>
</div>

<br>

<div>
  <h3>Location</h3>
  <em>Omaha, NE</em>
  <p><em>Map it: </em></p>
</div>