<p><h1>American Stout</h1></p>
<br>
<br>
<div>
  <h3>Color</h3>
  <em>Black</em>
</div>

<br>

<div>
  <h3>Perceived Bitterness</h3>
  <em>Assertive: 35 - 75 IBUs</em>
</div>

<br>

<div>
  <h3>Alcohol</h3>
  <em>Normal to Elevated Alcohol Content: 5 - 7% ABV</em>
</div>

<br>

<div>
  <h3>Flavor and Balance</h3>
  <em>The roasty, coffee flavors of stout form the malt base of this beer, but citrus and resinous American        hops are medium to high in flavor, aroma and bitterness.</em>
</div>

<br>

<div>
  <h3>Related Styles</h3>
  <em>Foreign Stout</em>
  <p><em>Russian Imperial Stout</em></p>
</div>