<p><h1>Belgian Strong Ale</h1></p>
<br>
<br>
<div>
  <h3>Color</h3>
  <em>Gold</em>
</div>

<br>

<div>
  <h3>Perceived Bitterness</h3>
  <em>Moderate: 22 - 35 IBUs</em>
</div>

<br>

<div>
  <h3>Alcohol</h3>
  <em>High to Very High Alcohol Content: 7.5 - 10.5% ABV</em>
</div>

<br>

<div>
  <h3>Flavor and Balance</h3>
  <em>These light- to medium-bodied beers often hide their substantial alcohol content very well. They are         very pale (straw to gold in color) with moderate bitterness, lighter body and high carbonation.</em>
</div>

<br>

<div>
  <h3>Related Styles</h3>
  <em>Belgian Blond</em>
  <p><em>Belgian Tripel</em></p>  
</div>