<p><h1>Belgian Tripel</h1></p>
<br>
<br>
<div>
  <h3>Color</h3>
  <em>Gold</em>
</div>

<br>

<div>
  <h3>Perceived Bitterness</h3>
  <em>Moderate: 20 - 40 IBUs</em>
</div>

<br>

<div>
  <h3>Alcohol</h3>
  <em>High Alcohol Content: 7.5 - 9.5% ABV</em>
</div>

<br>

<div>
  <h3>Flavor and Balance</h3>
  <em>Medium bodied with a slight sweetness and robust pale malt flavor, the Belgian Tripel may have a good        deal of hop flavor and aroma. The Tripel is also charaterized b lots of fruitiness and some peppery          spiciness.</em>
</div>

<br>

<div>
  <h3>Related Styles</h3>
  <em>Belgian Blond</em>
  <p><em>Belgian Strong Ale</em></p>  
</div>