<p><h1>Upstream Brewing Company</h1></p>

<div class="picture">
  <img src="/upstream.jpeg" width="200" height="200" alt="Upstream"/>
</div>
<br>
<br>

<div>
  <h3>Description</h3>
  <em>Established in 1996, Upstream’s award-winning, hand-crafted beers are brewed fresh on-site in a              variety of styles—from their hoppy Capitol Pale Ale to a sweet Raspberry Lager. Upstream currently has       two locations in Omaha.</em>
</div>

<br>

<div>
  <h3>Location</h3>
  <em>Omaha, NE</em>
  <p><em>Map it: </em></p>
</div>