<p><h1>American Wheat Ale</h1></p>
<br>
<br>
<div>
  <h3>Color</h3>
  <em>Straw to Gold</em>
</div>

<br>

<div>
  <h3>Perceived Bitterness</h3>
  <em>Moderate: 15 - 30 IBUs</em>
</div>

<br>

<div>
  <h3>Alcohol</h3>
  <em>Normal Alcohol Content: 4 - 5.5% ABV</em>
</div>

<br>

<div>
  <h3>Flavor and Balance</h3>
  <em>Light malt flavor includes flour and bread notes from wheat. Hop character varies from low to                assertive. Does not have the clove-banana fermentation traits of German wheat beers.</em>
</div>

<br>

<div>
  <h3>Related Styles</h3>
  <em>American Blonde</em>
  <p><em>German Hefeweizen</em></p>
  <p><em>Witbier</em></p>  
</div>