<div class="top">
  <h1><em><img src="/hop1.gif" width="50" height="50" alt="Hop"/>  Add a Brewery  <img src="/hop1.gif" width="50" height="50" alt="Hop"/></h1>
</div>

<br>
<br>

<div class="enter">
<form action="/add_brewery_results" method="post">
  <p><h4>Please Enter The Name Of The Brewery:</h4></p>

  <p><input type="text" name="place"></p>
  
  <br>
  
  <p><strong>Add A Description For The Brewery</strong></p>
  <textarea name="description" rows="10" cols="50"></textarea>
    
  <p><h5>Click Submit To Add The Brewery</h5></em></p>

  <p><input type="submit"></p>
</form>
</div>

<br>

<div class="enter">
  <p><a href="/home" title="To homepage"><u>Click Here To Return To The Main Homepage</u></a></p>
</div>

    