<div class="top">
  <h1><em><img src="/hop1.gif" width="50" height="50" alt="Hop"/>  Add a Beer Style  <img src="/hop1.gif" width="50" height="50" alt="Hop"/></h1>
</div>

<br>
<div class="enter">
<form action="/add_style_results" method="post">
  <p><h4>Please Enter The Following Information:</h4></p>
  
  <p><strong>Style Name:</strong></p>
    <p><input type="text" name="category"></p>

  <p><strong>Color:</strong></p>
    <p><input type="text" name="color"></p>
  
  <p><strong>Perceived Bitterness:</strong></p>
    <p><input type="text" name="bitterness"></p>
    
  <p><strong>Alcohol:</strong></p>
    <p><input type="text" name="alcohol"></p>
    
  <p><strong>Flavor and Balance:</strong></p>
    <p><input type="text" name="flavor"></p>
            
  <p><strong>Related Styles:</strong></p>
    <p><input type="text" name="related"></p>
  
  <br>
  
  <p><input type="submit"></p>
</form>
</div>

<br>

<div class="enter">
  <p><a href="/home" title="To homepage"><u>Click Here To Return To The Main Homepage</u></a></p>
</div>

