.top {
border: ridge;
border-width: 5px;
border-color: black;
background-color: goldenrod;
margin-left: -8px;
margin-top: -8px;
padding-bottom: 20px;
position: fixed;
z-index: 1;
font-size: 68%;
min-width: 97%;
}

.enter {
  text-align: center;
  margin-top: 147px;
}

h1 {
  font-size: 300%;
  color: black;
  text-align: center;
}

h3 {
  text-decoration: underline;
}

.picture {
text-align: center;
position: relative;
top: 140px;
}

img {
  position: relative; 
  top: 18px; 
}

.styles {
font-family: monospace;
text-decoration: underline;
position: relative;
top: 185px;
text-align: center;
font-size: 95%;
}

.styles:hover {
  background: goldenrod;
}

.style_attributes {
  margin-top: 167px;
}

.breweries:hover {
  background: goldenrod;
}

.beers {
  text-align: center;
  margin-top: 160px;
  font-size: 17px;
  font-family: monospace;
}

.beers p:hover {
  background: goldenrod;
}

a {
  text-decoration: none;
  color: black;
}

.breweries {
font-family: monospace;
text-decoration: underline;
position: relative;
top: 200px;
text-align: center;
font-size: 95%;
}

.places {
font-family: monospace;
font-size: 85%;
position: relative;
top: 190px;
}

.middle {
font-family: monospace;
text-align: center;
position: relative;
top: 243px;
border: solid;
border-width: 2px;
border-color: black;
background-color: goldenrod;
margin-left: 9%;
margin-right: 10%;
padding: 2px;
font-size: 86%;
}

.middle li:hover {
  background: white;
}

.add{
  margin-top: 240px;
}

ul {
list-style: none;
padding: 8px;
font-size: 15px;
}

.support {
text-align: center;
position: relative;
top: 226px;
}

body {
  background-image: url("http://images7.alphacoders.com/422/422461.jpg");
}
