<div class="top">
  <h1><em><img src="/hop1.gif" width="50" height="50" alt="Hop"/>  Nebraska Breweries  <img src="/hop1.gif" width="50" height="50" alt="Hop"/></em></h1>
</div>

<br>
<br>

<div class="beers">
  <% @beer_breweries.each do |bb| %>
    <p><strong><a href="/brewery/<%= bb.id %>" title="<%= bb.place %>"><%= bb.place                    %></a></strong></p>
    <br>
  <% end %>
</div> 

<br>

<div class="enter">
  <p><a href="/home" title="To homepage"><u>Click Here To Return To The Main Homepage</u></a></p>
</div>