<div class="enter">

<div class="error">  
<% if @user %>
  <% @user.errors.full_messages.each do |msg| %>  
    <p id="error">Error: <%= msg %></p>
  <% end %>
<% end %>
</div>
  <h1><em>Please Sign In To Enter</em></h1>
  <h5><em>Note that if you don't have an account, a new account will be made upon clicking submit.</em></h5>
  <form action="/verify" method="post">    
    <p>Username <input type="text" name="user"></p>
    <p>Password <input type="password" name="password"></p>
    <p><button name="button">Submit</button></p>
  </form>
</div>

 

  

