<div class="enter">
   
  <h1><em>Are You 21 Years of Age or Older?</em></h1>

  <form action="/verify" method="post">    
    <p><input type="text" name="user"></p>
    <p><input type="text" name="password"></p>
    <p><button name="button">Submit</button></p>
  </form>

</div>

 

  

