<div class="enter">
   
  <h1><em>Are You 21 Years of Age or Older?</em></h1>

  <form action="/home">    
    <p><button name="button"><strong>YES</strong></button></p>
  </form>

  <form action="/not_allowed">
    <p><button name="button"><strong>NO</strong></button></p>
  </form>

</div>

 

  

