<div class="top">
  <h1><em><img src="/hop1.gif" width="70" height="70" alt="Hop"/>  Nebraska Beer  <img src="/hop1.gif" width="70" height="70" alt="Hop"/></em></h1>
</div>

<div class="picture">
  <img src="/ne2.jpeg" width="350" height="160" alt="Ne2">
</div>

<div class="styles">
  <p><h2><a href="/beer_styles" title="Beer Styles"> Beer Styles</a></h2></p>  
</div>

<div class="breweries">
  <p><h2><a href="/beer_breweries" title="Breweries"> Nebraska Breweries</a></h2></p>
</div>

<div class="middle">  
  <strong><p><em><h2>Welcome, Nebraska Beer Lovers!</p></h2>

  <p>This site is dedicated to the beer made in Nebraska. Please click on any beer style or brewery listed on this page for information on that particular item. As a user, you can add any Nebraska made
beer to the database with your own custom review, you can delete your personal beer submittals, you'll be able to search for a particular beer that you're interested in, plus you can submit any additions or deletions from the brewery list.</p>
  <br>  
  <p>Please choose from the following:</p>
  <ul>
    <br>
    <li><a href="/add_beer" title="Add a beer"><u>Add a Beer</u></a></li>
    <br>
    <br>
    <li><a href="/search_beer_name" title="Search for beer"><u>Search for a Beer</u></a></li>
    <br>
    <br>
    <li><a href="/list_all_beer" title="List all beer"><u>List All Beer</u></a></li>
    <br>
    <br>
    <li><a href="/add_style" title="Add a style"><u>Add a Beer Style</u></a></li>
    <br>
    <br>
    <li><a href="/add_brewery" title="Add a brewery"><u>Add a Brewery</u></a></li>
    <br>
    <br>
    <li><a href="/delete_brewery" title="Delete a brewery"><u>Delete a Brewery</u></a></li>
    <br>
    <br>
    <li><a href="/delete_beer" title="Delete a beer"><u>Delete a Beer</u></a></strong></em></li>
    <br>
  </ul>
</div>  

<br>
  
<div class="support">
  <img src="/support.jpeg" width="294" height="171" alt="Support">
</div>



  

