<div class="top">
  <h1><em><img src="/hop1.gif" width="50" height="50" alt="Hop"/>  Delete a Brewery  <img src="/hop1.gif" width="50" height="50" alt="Hop"/></h1>
</div>

<br>
<br>

<div class="enter">
<form action="/delete_brewery_results">
  <p><h4>Please select the name of the brewery:</h4></p>
    <p><select name="place">
      <option value="Blank">Select the brewery</option>
      <option value="1">1: Beaver View Brewing Company</option>
      <option value="2">2: Kinkaider Brewing Company</option>
      <option value="3">3: Gottberg Brewpub</option>
      <option value="4">4: Spilker Ales</option>
      <option value="5">5: Thunderhead Brewing Company</option>
      <option value="6">6: Lucky Bucket Brewing Company</option>
      <option value="7">7: Blue Blood Brewing Company</option>
      <option value="8">8: Empyrean Brewing Company</option>
      <option value="9">9: Granite City Food and Brewery</option>
      <option value="10">10: Modern Monks</option>
      <option value="11">11: Ploughshare Brewing Company</option>
      <option value="12">12: Zipline Brewing Company</option>
      <option value="13">13: Loop Brewing Company</option>
      <option value="14">14: Backswing Brewing Company</option>
      <option value="15">15: Benson Brewery</option>
      <option value="16">16: Brickway Brewery and Distillery</option>
      <option value="17">17: Farnam House Brewing Company</option>
      <option value="18">18: Infusion Brewing Company</option>
      <option value="19">19: Jaipur Restaurant and Brewpub</option>
      <option value="20">20: Scriptown Brewing Company</option>
      <option value="21">21: Storz Trophy Room Grill and Brewery</option>
      <option value="22">22: Upstream Brewing Company</option>
      <option value="23">23: Scratchtown Brewing Company</option>
      <option value="24">24: Nebraska Brewing Company</option>
      <option value="25">25: Schilling Bridge Winery and Microbrewery</option>
      <option value="26">26: Soaring Wings Vineyard and Brewing</option>
    </select></p>
  
  <br>

  <p><h5>Click the submit button to delete the brewery.</h5></em></p>

  <p><input type="submit"></p>
</form>
</div>  

<br>

<div class="enter">
  <p><a href="/home" title="To homepage">Click here to return to the main homepage</a></p>
</div>